<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BTC COIN | </title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    
    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">

            
               <% include ../partials/header %>

        <!-- page content -->
        <div class="right_col" role="main">
                <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h1>My Profile</h1>
                   
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    
                     <form method="POST" action="/update-user" accept-charset="UTF-8">
                        <input name="action" type="hidden" value="update">
                        <div class="form-group">
                            <label for="username" class="text-white">Username</label>
                            <input class="form-control" readonly="" name="username" type="text" value="<%= username %>" id="username">
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-white">Email</label>
                            <input class="form-control" readonly="" name="email" type="text" value="<%= email %>" id="email">
                        </div>
                        <div class="form-group">
                            <label for="name" class="text-white">Name</label>
                            <input class="form-control" name="fullName" type="text" value="<%= fullName %>" id="name">
                        </div>
                        <div class="form-group">
                            <label for="phone" class="text-white">Phone</label>
                            <input class="form-control" name="phone" type="text" value="<%= phone %>" id="phone">
                        </div>
                        <div class="form-group">
                            <label for="country" class="text-white">Country</label>
                            <select class="form-control" name="countryId" id="country">
                                <% include ../partials/countries %>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>


                      <div class="ln_solid"></div>
                      

                  </div>
                </div>
              </div>
         

             <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h1>My Profile</h1>
                   
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <!-- form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" -->
              

            <form method="POST" action="/user/update-password" accept-charset="UTF-8"><input name="_method" type="hidden" value="PUT"><input name="_token" type="hidden" value="bcnHh1VmajPZoBAWUqsrrWr3FJ7glI4ylBnXwUEa">
                        <input name="action" type="hidden" value="update-password">
                        <div class="form-group">
                            <label for="current_password" class="text-white">Current Password</label>
                            <input class="form-control" name="current_password" type="password" value="" id="current_password">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-white">New Password</label>
                            <input class="form-control" name="password" type="password" value="" id="password">
                        </div>
                        <div class="form-group">
                            <label for="password_confirmation" class="text-white">Confirm Password</label>
                            <input class="form-control" name="password_confirmation" type="password" value="" id="password_confirmation">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
          </div>
        </div>
      </div>

            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- morris.js -->
    <script src="/vendors/raphael/raphael.min.js"></script>
    <script src="/vendors/morris.js/morris.min.js"></script>
    <!-- gauge.js -->
    <script src="/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- Skycons -->
    <script src="/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/vendors/Flot/jquery.flot.js"></script>
    <script src="/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/vendors/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/vendors/moment/min/moment.min.js"></script>
    <script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/build/js/custom.min.js"></script>
    <script>
        $(function() {
            $('#country').val(<%= countryId %>);
        });
    </script>

  </body>
</html>
